body{
    background: skyblue;
}
h1{
    color:rgb(79, 92, 16);
    font-size: 20px;
    text-align: center;
}
span{
    color: rgb(240, 93, 93);
}
.theme-bar.slider-wrapper{
    margin-left: 23%;
    width: 55%;
    height: auto;
}
.theme-bar:hover a.nivo-nextNav,.theme-bar a.nivo-prevNav{
    font-size: 7px;
    font-weight: bold;
}
.theme-bar .nivo-controlNav a{
    display: none;
}
.theme-bar .nivo-controlNav{
    height: 10px;
}
.theme-bar:hover a.nivo-prevNav,.theme-bar a.nivo-nextNav{
    top: 300px;
}